<link rel="stylesheet" href="/css/aboutme.css">
<div id="aboutme">
  <div class="row">
    <div class="column left">
      <div class="container">
        <img class="selfImage" src="/assets/Porto_2019.jpg" alt="image not found"/>
        <!--
        <div class="middle">
          <div class="text"><a target="_blank" href="/Documents/CV-DimitriosStavrakakis.pdf">CV</a></div>
        </div>
        -->
      </div>
      <div class="personalInfo">
        <a class="name">Georgios Vavouliotis</a>
        <p class="currentPlacement">Ph.D. Candidate in CS @ Universitat Politècnica de Catalunya (UPC) and Barcelona Supercomputing Center (BSC-CNS)</p>
      </div>
      <div class="mediaLinksContainer">
        <a href="https://www.linkedin.com/in/georgiosvavouliotis/" target="_blank" class="mediaLink">
          <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="mediaImage">
        </a>
        <a href="https://github.com/gvavou5" target="_blank" class="mediaLink">
          <img alt="Github" src="/assets/PlatformImages/github.svg" class="mediaImage">
        </a>
        <a href="mailto:gvavou5@gmail.com" target="_blank" class="mediaLink">
          <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="mediaImage">
        </a>
        <a href="https://twitter.com/gvavou5" target="_blank" class="mediaLink">
          <img alt="Twitter" src="/assets/PlatformImages/twitter.svg" class="mediaImage">
        </a>
      </div>
      <!--
      <div class="CVContainer">
        <button class="CVButton" onClick="window.open('/Documents/CV.pdf'); return true;">CV</button>
      </div>
      -->
    </div>
    <div class="column right">
      <h3 align="center">About Me</h3>
      <p>
      I earned my diploma on <b>Electrical and Computer Engineering Department of National Technical University of Athens (NTUA)</b>. 
	During my studies, I have completed numerous projects that gave me a solid background in Computer Science and Software Engineering. 
	My diploma thesis was aimed at quantifying the address translation performance bottleneck caused by modern CPU applications, examing the efficacy of state-of-the-art hardware TLB prefething mechanisms and proposing novel TLB prefetching schemes capable of capturing the miss patterns of these applications in the virtual address space.
        <br>
        <br>
	Currently, I am a 2nd year Ph.D. student in Computer Science at <b>Universitat Politècnica de Catalunya (UPC)</b> and <b>Barcelona Supercomputing Center (BSC-CNS)</b>. 
	My supervisors are  <b>Dr. Marc Casas Guix</b> from BSC-CNS and <b>Dr. Lluc Alvarez</b> from UPC. 
	Moreover, I collaborate with <b>Prof. Daniel A. Jiménez</b> and <b>Prof. Boris Grot</b> from <b>Texas A&M University</b> and <b>University of Edinburgh</b>, respectively. 
	<br>
	<br>
	I am mostly interested in Computer Architecture. Specifically, I do research on hardware prediction and I am developing hardware prefetching schemes that inherently use artificial   	      intelligence algorithms coupled with software optimizations. Currently, I am doing research on the virtual memory subsystem, using modern HPC, Server and Graph Processing applications. 
        <br>
        <br>
	In addition to doing research, I am keen on cooking, writing, travelling, and playing basketball. You can find in my blog some of my multicultural recipes.
        <br>
        <br>
	If you would like more information about me, please check my <a href="/Documents/CV.pdf" alt="CV" target="_blank" class="aboutMeLinks"><b>CV</b></a> or/and 
	<a href="#contact" class="aboutMeLinks"><b>contact me</b></a>. 
      </p>
    </div>
  </div>
</div>
