<link rel="stylesheet" href="/css/aboutme.css">
<div id="aboutme">
  <div class="row">
    <div class="column left">
      <div class="container">
        <img class="selfImage" src="/assets/Porto_2019_small.jpg" alt="image not found"/>
        <!--
        <div class="middle">
          <div class="text"><a target="_blank" href="/Documents/CV-DimitriosStavrakakis.pdf">CV</a></div>
        </div>
        -->
      </div>
      <div class="personalInfo">
        <a class="name"><b>Georgios Vavouliotis</b></a>
        <p class="currentPlacement">Ph.D. Candidate in CS @ Universitat Politècnica de Catalunya (UPC) and Barcelona Supercomputing Center (BSC-CNS)</p>
      </div>
      <div class="mediaLinksContainer">
        <a href="https://www.linkedin.com/in/georgiosvavouliotis/" target="_blank" class="mediaLink">
          <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="mediaImage">
        </a>
        <a href="https://github.com/gvavou5" target="_blank" class="mediaLink">
          <img alt="Github" src="/assets/PlatformImages/github.svg" class="mediaImage">
        </a>
        <a href="mailto:georgios.vavouliotis@gmail.com" target="_blank" class="mediaLink">
          <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="mediaImage">
        </a>
        <a href="https://twitter.com/gvavou5" target="_blank" class="mediaLink">
          <img alt="Twitter" src="/assets/PlatformImages/twitter.svg" class="mediaImage">
        </a>
      </div>
      <!--
      <div class="CVContainer">
        <button class="CVButton" onClick="window.open('/Documents/CV.pdf'); return true;">CV</button>
      </div>
      -->
    </div>
    <div class="column right">
      <!--  <h3 align="center">About Me (Long Story Short)</h3> -->
      <h3 align="center">About Me</h3>
      <p>
        I earned my diploma on Electrical and Computer Engineering from 
        <a href="https://www.ece.ntua.gr/en" target="_blank" class="aboutMeLinks"><b>National Technical University of Athens (NTUA)</b></a>. 
	<!--During my studies, I have completed numerous projects that gave me a solid background in Computer Science and Software Engineering.--> 
	<!--My diploma thesis quantifies the address translation performance bottleneck caused by modern CPU applications, and 
	 examines the efficacy of the state-of-the-art TLB prefetching mechanisms.--> <!--, and proposes novel TLB prefetching schemes 
	capable of capturing more distinct patterns than the already proposed TLB prefetchers.-->
	Currently, I am a 3rd year Ph.D. student in Computer Science at 
        <a href="https://www.upc.edu/en" target="_blank" class="aboutMeLinks"><b>Universitat Politècnica de Catalunya (UPC)</b></a> 
        and <a href="https://www.bsc.es/" target="_blank" class="aboutMeLinks"><b>Barcelona Supercomputing Center (BSC-CNS)</b></a>. 
	My supervisors are  Prof. <a href="https://www.bsc.es/casas-marc" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Marc Casas</b></a> from BSC-CNS 
        and Dr. <a href="https://www.bsc.es/alvarez-marti-lluc" target="_blank" class="aboutMeLinks"><b>Lluc Alvarez</b><a> from UPC. 
	Moreover, I collaborate with Prof. <a href="http://taco.cs.tamu.edu/" target="_blank" class="aboutMeLinks"><b>Daniel A. Jiménez</b></a>
        from <b>Texas A&M University</b>, Prof. <a href="http://homepages.inf.ed.ac.uk/bgrot/" target="_blank" class="aboutMeLinks"><b>Boris Grot</b></a> 
        from <b>University of Edinburgh</b>, and Dr. <a href="http://www.cslab.ece.ntua.gr/~vkarakos/" target="_blank" class="aboutMeLinks"><b>Vasileios Karakostas</b></a> from <b>NTUA</b>. 
	<br>
	<br>
	My research interests include computer architecture, machine learning for computer architecture, and high performance computing. 
	<!--However, I am mostly interested in <b>computer architecture</b>.-->  
	Specifically, I conduct research on hardware prediction, developing microarchitectural prediction/prefetching mechanisms that inherently use machine learning algorithms. Currently, I am mainly focused on (i) reducing the address translation overheads in virtual memory systems caused by modern hpc, server and graph processing applications via hardware prefetching, and (ii) improving the cache management and cache utilization via explicit hardware techniques.
	<!--In addition to doing research, I am keen on cooking, travelling, and having creative discussions.--> 
	<!--You can find in my blog (under construction) some of my multicultural recipes, personal writings, and photos.-->
        <br>
        <br>
	For more information about me, please check my <a href="/Documents/CV.pdf" alt="CV" target="_blank" class="aboutMeLinks"><b>CV</b></a> or/and 
	<a href="#contact" class="aboutMeLinks"><b>contact me</b></a>. 

	<br>
	<br>
	<!--<b><u>Best Quote</u></b>: Nothing in this world can take the place of persistence. Talent will not: nothing is more common than unsuccessful men with talent. Genius will not: unrewarded genius is almost a proverb. Education will not: the world is full of educated derelicts. Persistence and determination alone are omnipotent. (Calvin Coolidge) -->
      </p>
    </div>
    <div class="column full">
	 <p>
	<b>Best Quote</b>: Nothing in this world can take the place of persistence. Talent will not: nothing is more common than unsuccessful men with talent. Genius will not: unrewarded genius is almost a proverb. Education will not: the world is full of educated derelicts. Persistence and determination alone are omnipotent. (Calvin Coolidge) 
	 <p>

  </div>
  </div>
</div>
