<link rel="stylesheet" href="/css/contact.css"/>
<div id="contact">
  <h3 class="contactHeader">Contact</h3>
  <!--<ul class="languageList">
    <li class="languageElement"><img src="/assets/Flags/English.svg" alt="English" class="flagIcon"/></li>
    <li class="languageElement"><img src="/assets/Flags/Greek.svg" alt="Greek" class="flagIcon"/></li>
  </ul>-->
  <!--<p class="contactText">I am always open to have creative discussions. Do not hesitate to contact me. Preferred languages: English and Greek (Spanish and Italian in a while)</p>-->
  <p class="contactText">I am always open to collaborations and creative discussions. Do not hesitate to contact me.</p>
  <p class="contactText"> E-mail: <a href="mailto:gvavou5@gmail.com" class="contactLink"> gvavou5@gmail.com</a> or <a href="mailto:georgios.vavouliotis@bsc.es" class="contactLink"> georgios.vavouliotis@bsc.es</a></p>
  <p class="contactText"> Office: Passeig dels Til·lers, 15, 08034 Barcelona, Spain (<a href="https://www.google.com/maps/place/Edifici+Til.lers+UPC/@41.3896637,2.116683,21z/data=!4m12!1m6!3m5!1s0x12a49850dadd0cbb:0xa8543dde1183f176!2sBarcelona+Supercomputing+Center+-+Centro+Nacional+de+Supercomputaci%C3%B3n!8m2!3d41.3893997!4d2.116153!3m4!1s0x12a4985af2b8ab13:0x57853d0989a3e620!8m2!3d41.3898529!4d2.1168248" class="contactLink">map</a>)</p>
</div>
