<link rel="stylesheet" href="/css/contact.css"/>
<div id="contact">
  <h3 class="contactHeader">Contact</h3>
  <!--<ul class="languageList">
    <li class="languageElement"><img src="/assets/Flags/English.svg" alt="English" class="flagIcon"/></li>
    <li class="languageElement"><img src="/assets/Flags/Greek.svg" alt="Greek" class="flagIcon"/></li>
  </ul>-->
  <!--<p class="contactText">I am always open to have creative discussions. Do not hesitate to contact me. Preferred languages: English and Greek (Spanish and Italian in a while)</p>-->
  <!-- <p class="contactText">I am always open to collaborations and creative discussions. Do not hesitate to contact me.</p>-->
  <p class="contactText"> E-mail: <a href="mailto:gvavou5@gmail.com" class="contactLink"> gvavou5@gmail.com</a> or <a href="mailto:georgios.vavouliotis@bsc.es" class="contactLink"> georgios.vavouliotis@bsc.es</a> or <a href="mailto:georgios.vavouliotis2@huawei.com" class="contactLink"> georgios.vavouliotis2@huawei.com</a> </p>


  <!--<p class="contactText"> Office: Passeig dels Til·lers, 15, 08034 Barcelona, Spain (<a href="https://www.google.com/maps/place/Edifici+Til.lers+UPC/@41.3896637,2.116683,21z/data=!4m12!1m6!3m5!1s0x12a49850dadd0cbb:0xa8543dde1183f176!2sBarcelona+Supercomputing+Center+-+Centro+Nacional+de+Supercomputaci%C3%B3n!8m2!3d41.3893997!4d2.116153!3m4!1s0x12a4985af2b8ab13:0x57853d0989a3e620!8m2!3d41.3898529!4d2.1168248" class="contactLink">map</a>)</p> -->
  <!-- <p class="contactText"> Office: Thurgauerstrasse 80, 8050 Zurich, Switzerland  (<a href="https://www.google.com/maps/dir/47.4021888,8.4443136/huawei+zurich+research+center/@47.4094226,8.4292081,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x47900ba1cb22d7fd:0x217479a201d3c4c8!2m2!1d8.5525848!2d47.4148765" class="contactLink">map</a>)</p> -->

  <p class="contactText"> Office: Thurgauerstrasse 80, 8050 Zurich, Switzerland  (<a href="https://www.google.com/maps/dir//to+Huawei+Technologies,+Zurich+Research+Center,+Thurgauerstrasse+80,+8050+Z%C3%BCrich/@47.4188609,8.528186,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47900ba1cb22d7fd:0x217479a201d3c4c8!2m2!1d8.5551739!2d47.4184658?entry=ttu" class="contactLink">map</a>)</p>



</div>
