<link rel="stylesheet" href="/css/education.css"/>
<div id="education">
  <h3 class="educationHeader">Education</h3>
  <div class="educationContainer">      
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/upc.png" class="ntuaLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"><b>Universitat Politècnica de Catalunya (UPC)</b></p>
          <p class="educationText"><b>Ph.D. Candidate in Computer Science</b></p>
          <p class="educationText">September 2018 - now</p>
          <p class="educationText">Supervisors: Marc Casas Guix, Lluc Alvarez</p>
          <p class="educationText">Collaborators: Daniel A. Jimenez (Texas A&M), Boris Grot (University of Edinburg)</p>
          <p class="educationText" style="margin-top:5px;">
          </p>
        </div>
      </div>
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/ntua.svg" class="ntuaLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"><b>National Technical University of Athens (NTUA)</b></p>
          <p class="educationText"><b>Department of Electrical and Computer Engineering (ECE-NTUA)</b></p>
          <p class="educationText">September 2012 - March 2018</p>
          <!--<p class="educationText">Academic Directions: Computer Systems & Software, Computer Networks, Automatic Control & Robotics</p>-->
          <p class="educationText">Diploma in Electrical and Computer Engineering (MEng.)</p>
          <p class="educationText">GPA: <b>8.9/10</b></p>
          <p class="educationText" style="margin-top:5px;">
            Thesis: <a target="_blank" href="http://artemis.cslab.ece.ntua.gr:8080/jspui/bitstream/123456789/13721/1/DT2018-0049.pdf">Performance Analysis of TLB Prefetching Mechanisms</a></p>
        </div>
      </div>
   </div>
</div>
