<link rel="stylesheet" href="/css/education.css"/>
<div id="education">
  <h3 class="educationHeader">Education</h3>
  <div class="educationContainer">      
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/upc.png" class="ntuaLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"> <a class="aboutMeLinks" href="https://www.upc.edu/en" target="_blank" style="color:BC0000"><b>Universitat Politècnica de Catalunya (UPC)</b></a></p>
          <p class="educationText"><b>Ph.D. Candidate in Computer Science</b> (September 2018 - now)</p>
          <!-- <p class="educationText">September 2018 - now</p> -->
          <p class="educationText">Supervisors: <a class="aboutMeLinks" href="https://www.bsc.es/casas-marc" target="_blank" style="color:BC0000"><b>Marc Casas Guix</b></a>, <a href="https://www.bsc.es/alvarez-marti-lluc" target="_blank" style="color:BC0000" class="aboutMeLinks"><b>Lluc Alvarez</b></a></p>
          <p class="educationText">Collaborators: <a class="aboutMeLinks" href="http://taco.cs.tamu.edu/" target="_blank" style="color:BC0000"><b>Daniel A. Jimenez</a> (Texas A&M University)</b>, <a href="http://homepages.inf.ed.ac.uk/bgrot/" class="aboutMeLinks" target="_blank" style="color:BC0000"><b>Boris Grot</a> (University of Edinburg)</b>, <a href="http://www.cslab.ece.ntua.gr/~vkarakos/" target="_blank" class="aboutMeLinks" style="color:BC0000"><b>Vasileios Karakostas</a> (National Technical University of Athens)</b></p>
          <p class="educationText" style="margin-top:5px;">
          </p>
        </div>
      </div>
      <div class="educationRow">
        <div class="educationColumnLeft">
          <img src="/assets/ntua.svg" class="ntuaLogo"/>
        </div>
        <div class="educationColumnRight">
          <p class="educationText" style="margin-top:5px;"><b>National Technical University of Athens (NTUA)</b></p>
          <p class="educationText"><a class="aboutMeLinks" target="_blank" style="color:BC0000" href="https://www.ece.ntua.gr/en"><b>Department of Electrical and Computer Engineering (ECE-NTUA)</b></a></p>
          <p class="educationText">September 2012 - March 2018</p>
          <!--<p class="educationText">Academic Directions: Computer Systems & Software, Computer Networks, Automatic Control & Robotics</p>-->
          <p class="educationText">Diploma in Electrical and Computer Engineering, GPA: <b>8.9/10</b></p>
          <p class="educationText" style="margin-top:5px;">
            Thesis: <a target="_blank" style="color:BC0000" class="aboutMeLinks" href="http://artemis.cslab.ece.ntua.gr:8080/jspui/bitstream/123456789/13721/1/DT2018-0049.pdf">Performance Analysis of TLB Prefetching Mechanisms</a></p>
        </div>
      </div>
   </div>
</div>
