<link rel="stylesheet" href="/css/footer.css">
<div class="endSection">
  <div class="footerMediaLinksContainer">
    <a href="https://www.linkedin.com/in/georgiosvavouliotis/" class="mediaLink">
      <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="footerMediaImage">
    </a>
    <a href="https://github.com/gvavou5" class="mediaLink">
      <img alt="Github" src="/assets/PlatformImages/github.svg" class="footerMediaImage">
    </a>
    <a href="mailto:gvavou5@gmail.com" class="mediaLink">
      <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="footerMediaImage">
    </a>
    <a href="https://twitter.com/g_vavouliotis" class="mediaLink">
      <img alt="Mail" src="/assets/PlatformImages/twitter.svg" class="footerMediaImage">
    </a>
  </div>
  <div class="copyRight">
    &copy; 2021 Georgios Vavouliotis
  </div>
</div>
