<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="navbar" class="topnav">
  <a class="link active" href="#aboutme" id="navLink">About Me</a>
  <a class="link" href="#education" id="navLink">Education</a>
  <a class="link" href="#professionalexperience" id="navLink">Professional Experience</a>
  <a class="link" href="#papers" id="navLink">Publications</a>
  <a class="link" href="#contact" id="navLink">Contact</a>
  <a class="link" href="#honors" id="navLink">Honors</a>
  <a class="link" id="navLink" href="/Documents/CV.pdf" alt="CV" target="_blank" class="aboutMeLinks">CV</a>
  <a href="javascript:void(0);" class="icon" id="respIcon">
  <i class="fa fa-bars"></i>
  <!--
  <a class="link active" href="#aboutme" id="navLink">About Me</a>
  <a class="link" href="#professionalexperience" id="navLink">Professional Experience</a>
  <a class="link" href="#education" id="navLink">Education</a>
  <a class="link" href="#skills" id="navLink">Skills</a>
  <a class="link" href="#contact" id="navLink">Contact</a>
  <a href="javascript:void(0);" class="icon" id="respIcon">
  <i class="fa fa-bars"></i>
  -->
</div>
