<link rel="stylesheet" href="/css/news.css">
<div id="news">
  <h3 class="newsHeader">Recent News</h3>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2021] <b>Exploiting Page Table Locality for Agile TLB Prefetching</b> paper got accepted at ISCA 2021. This is my first full paper as a Ph.D. student.</h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2020] The presentation of <b>Cost-Effective Instruction TLB Prefetching</b> workshop paper is available on <a href="https://www.youtube.com/watch?v=3AfOSBaUiCw&list=PLe9IED-JzOQRA-C2Tr9RQsODmD_2rtCZ3&index=6&t=218s" target="_" class="mediaLink"><b>youtube</b></a>. The corresponding poster can be found <a href="https://drive.google.com/file/d/1qsBj8sk8luCBFsu0JZgBY2s-kinhyLng/view" target="_blank" class="mediaLink"><b>here</b></a>.</h9>
         </div>
     </div>
  </div>

  <div class="containernewsTimeline">
     <div class="news-timeline-block news-timeline-block-right">
        <div class="news-timeline-content">
           <h9> [2020] <b>Cost-Effective Instruction TLB Prefetching</b> workshop paper (2 pages) got accepted at YArch 2020 Workshop.</h9>
         </div>
     </div>
  </div>

</div>
