<link rel="stylesheet" href="/css/papers.css">
<div id="papers">
  <h3 class="papersHeader">Publications</h3>

  <div class="containerpaperTimeline">
   <div class="paper-timeline-block paper-timeline-block-right">
            <div class="paper-timeline-content-header">
                   <h9>  <b>2024</b> </h9>
           </div>
   </div>
</div>

<div class="containerpaperTimeline">
   <div class="paper-timeline-block paper-timeline-block-right">
      <div class="paper-timeline-content">
              [<b>IPDPS'24</b>] <a href="" target="_blank" class="mediaLink" style="color:00008F"><b>Practically
               Tackling Memory Bottlenecks of Graph-Processing Workloads</b></a>
       </div>
   </div>
   <div class="paper-timeline-block-new paper-timeline-block-right">
      <div class="paper-timeline-content">
         <h9> Alexandre Valentin Jamet, <u>Georgios Vavouliotis</u>, Lluc Alvarez, Daniel A. Jimenez, Marc Casas. Proceedings of the 38th edition of the IEEE International Parallel & Distributed Processing Symposium (IPDPS '24). [<a href="/Documents/Vavouliotis_IPDPS24.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="/Documents/IPDPS24TOAPPEAR.key" target="_blank" class="mediaLink" style="color:BC0000"><b>slides</b></a>]</h9>
       </div>
   </div>
</div>

<div class="containerpaperTimeline">
   <div class="paper-timeline-block paper-timeline-block-right">
      <div class="paper-timeline-content">
              [<b>HPCA'24</b>] <a href="" target="_blank" class="mediaLink" style="color:00008F"><b>A Two Level Neural Approach Combining Off-Chip
               Prediction with Adaptive Prefetch Filtering</b></a>
       </div>
   </div>
   <div class="paper-timeline-block-new paper-timeline-block-right">
      <div class="paper-timeline-content">
         <h9> Alexandre Valentin Jamet, <u>Georgios Vavouliotis</u>, Lluc Alvarez, Daniel A. Jimenez, Marc Casas. Proceedings of the 30th edition of the International Symposium on High-Performance Computer Architecture (HPCA '24). [<a href="/Documents/Vavouliotis_HPCA24.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="/Documents/HPCA30_tlp.key" target="_blank" class="mediaLink" style="color:BC0000"><b>slides(keynote)</b></a>] [<a href="/Documents/HPCA30_tlp.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>slides(pdf)</b></a>]</h9>
       </div>
   </div>
</div>

   <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2023</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>ISMM'23</b>] <a href="https://dl.acm.org/doi/abs/10.1145/3591195.3595269" target="_blank" class="mediaLink" style="color:00008F"><b>Concurrent GCs and Modern Java Workloads: A Cache Perspective</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> Maria Carpen-Amarie, <u>Georgios Vavouliotis</u>, Konstantinos Tovletoglou, Boris Grot, Rene Mueller. Proceedings of the 2023 ACM SIGPLAN International Symposium on Memory Management (ISMM '23). Received the <a href="/Documents/Best_Paper_Award1.pdf" target="_" class="mediaLink" style="color:BC0000"><b><u>Best Paper Award</u></b></a>. [<a href="/Documents/Vavouliotis_ISMM23.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="/Documents/ISMM23.pptx" target="_blank" class="mediaLink" style="color:BC0000"><b>slides</b></a>]</h9>
         </div>
     </div>
  </div>

   <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2022</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>MICRO'22</b>] <a href="https://ieeexplore.ieee.org/document/9923823" target="_blank" class="mediaLink" style="color:00008F"><b>Page Size Aware Cache Prefetching</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Gino Chancon, Lluc Alvarez, Paul V. Gratz, Daniel A. Jimenez, Marc Casas. Proceedings of the 55th edition of the IEEE/ACM International Symposium on Microarchitecture (MICRO '22). [<a href="/Documents/Vavouliotis_MICRO22.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="/Documents/MICRO22-PPM.key" target="_blank" class="mediaLink" style="color:BC0000"><b>slides</b></a>]</h9>
         </div>
     </div>
  </div>


  <div class="containerpaperTimeline">
   	<div class="paper-timeline-block paper-timeline-block-right">
  		 <div class="paper-timeline-content-header">
			<h9>  <b>2021</b> </h9>
  		</div>
  	</div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>MICRO'21</b>] <a href="https://dl.acm.org/doi/10.1145/3466752.3480049" target="_blank" class="mediaLink" style="color:00008F"><b>Morrigan: A Composite Instruction TLB Prefetcher</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Lluc Alvarez, Boris Grot, Daniel A. Jimenez, Marc Casas. Proceedings of the 54th edition of the IEEE/ACM International Symposium on Microarchitecture (MICRO '21). [<a href="/Documents/Vavouliotis_MICRO21.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="https://www.youtube.com/watch?v=ALTjrb4LaPk&t=21s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="/Documents/MICRO21-Morrigan.key" target="_blank" class="mediaLink" style="color:BC0000"><b>slides</b></a>] [<a href="/Documents/MICRO21-Morrigan-Lightning.key" target="_blank" class="mediaLink" style="color:BC0000"><b>lightning slides</b></a>]</h9>
         </div>
     </div>
  </div>


  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>MICRO SRC'21</b>] <a href="/Documents/Vavouliotis_Poster_SRC21.pdf" target="_blank" class="mediaLink" style="color:00008F"><b> Leveraging Page Size Information to Enhance Data Cache Prefetching</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Gino Chancon, Lluc Alvarez, Paul V. Gratz, Daniel A. Jimenez, Marc Casas. 2021 ACM Student Research Competition (SRC '21). [<a href="/Documents/Vavouliotis_Poster_SRC21.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="https://www.youtube.com/watch?v=icQByILs23Y&t=20s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="/Documents/Vavouliotis_Micro_SRC21.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>src certificate</b></a>]</h9>
         </div>
     </div>
  </div>


  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>ACM School'21</b>] <a href="/Documents/Vavouliotis_Poster_ACM21.pdf" target="_blank" class="mediaLink" style="color:00008F"><b> Leveraging Page Size Information to Enhance Data Cache Prefetching</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Gino Chancon, Lluc Alvarez, Paul V. Gratz, Daniel A. Jimenez, Marc Casas. 2021 ACM Summer School on HPC Computer Architectures for AI and Dedicated Applications. [<a href="/Documents/Vavouliotis_Poster_ACM21.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="/Documents/Best-Poster-Award-ACM.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>best poster award</b></a>]</h9>
         </div>
     </div>
  </div>



  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
         	[<b>ISCA'21</b>] <a href="https://ieeexplore.ieee.org/document/9499825" target="_blank" class="mediaLink" style="color:00008F"><b>Exploiting Page Table Locality for Agile TLB Prefetching</b></a>
	 </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Lluc Alvarez, Vasileios Karakostas, Konstantinos Nikas, Nectarios Kozyris, Daniel A. Jimenez, Marc Casas. Proceedings of the 48th edition of the International Symposium on Computer Architecture (ISCA '21). [<a href="/Documents/Vavouliotis_ISCA21.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] [<a href="https://www.youtube.com/watch?v=cSMDkxRlnFk&t=362s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="/Documents/ISCA21-Exploiting-Page-Table-Locality-for-Agile-TLB-Prefetching.key" target="_blank" class="mediaLink" style="color:BC0000"><b>slides</b></a>] [<a href="/Documents/ISCA21-Lightning-Presentation-Exploiting-Page-Table-Locality-for-Agile-TLB-Prefetching.key" target="_blank" class="mediaLink" style="color:BC0000"><b>lightning slides</b></a>] [<a href="/Documents/ISCA_22_Poster_48x36.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>poster-isca'22</b></a>]</h9>
         </div>
     </div>
  </div>


  <div class="containerpaperTimeline">
        <div class="paper-timeline-block paper-timeline-block-right">
                 <div class="paper-timeline-content-header">
                        <h9>  <b>2020</b> </h9>
                </div>
        </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-timeline-content">
                [<b>YArch'20</b>] <a href="/Documents/Vavouliotis_Poster_YArch.pdf" target="_blank" class="mediaLink" style="color:00008F"><b>Cost-Effective Instruction TLB Prefetching</b></a>
         </div>
     </div>
     <div class="paper-timeline-block-new paper-timeline-block-right">
        <div class="paper-timeline-content">
           <h9> <u>Georgios Vavouliotis</u>, Lluc Alvarez, Daniel A. Jimenez, Marc Casas. Second Young Architect Workshop (YArch '20). In conjunction with the 25th ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS '20), Lausanne. [<a href="https://www.youtube.com/watch?v=3AfOSBaUiCw&list=PLe9IED-JzOQRA-C2Tr9RQsODmD_2rtCZ3&index=6&t=218s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="/Documents/Vavouliotis_Poster_YArch.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>]</h9>
         </div>
     </div>
  </div>

  <br>
  <br>
  <br>

  <div class="containerpaperTimeline">
   <div class="paper-timeline-block paper-timeline-block-right">
            <div class="paper-timeline-content-header">
                   <h9>  <b>Doctoral Dissertation</b> </h9>
           </div>
   </div>
</div>

<div class="containerpaperTimeline">
<div class="paper-timeline-block paper-timeline-block-right">
   <div class="paper-timeline-content">
         <a href="https://upcommons.upc.edu/handle/2117/403959" target="_blank" class="mediaLink" style="color:00008F"><b>Advanced Hardware Prefetching in Virtual Memory Systems</b></a> 
         [<a href="/Documents/Dissertation_Vavouliotis.pdf" target="_blank" class="mediaLink" style="color:BC0000"><b>pdf</b></a>] 
    </div>
</div>
<div class="paper-timeline-block-new paper-timeline-block-right">
   <div class="paper-timeline-content">
      <h9> <b><em>Thesis Statement:</em></b> <em> Hardware TLB prefetching can reduce the address translation overheads posed
         with applications with large data and code footprints while exploiting address translation metadata
         available at the microarchitecture and runtime levels can improve the performance of cache prefetchers. </em>    
      </h9>
    </div>
</div>
</div>


<!--

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-marker"></div>
        <div class="paper-timeline-content">
	   <h9> <b>Georgios Vavouliotis</b>, Lluc Alvarez, Vasileios Karakostas, Konstantinos Nikas, Nectarios Kozyris, Daniel A. Jimenez, Marc Casas Guix, <b>Exploiting Page Table Locality for Agile TLB Prefetching</b>. Proceedings of the 48th International Symposium on Computer Architecture (ISCA 2021). [<a href="https://www.youtube.com/watch?v=cSMDkxRlnFk&t=362s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="https://drive.google.com/file/d/1_3tUx1Ucb6hJqshqbpJ-ezGUAezMXs_9/view?usp=sharing" target="_blank" class="mediaLink" style="color:BC0000"><b>slides (keynote)</b></a>] [<a href="https://drive.google.com/file/d/1GI_8M6y74g43Ulp7tMC_nbjoe7xnnzEi/view?usp=sharing" target="_blank" class="mediaLink" style="color:BC0000"><b>lightning slides (keynote)</b></a>]</h9>
         </div>
     </div>
  </div>
  
  <div class="containerpaperTimeline">
   	<div class="paper-timeline-block paper-timeline-block-right">
  		 <div class="paper-timeline-content-header">
			<h9>  <b>2020</b> </h9>
  		</div>
  	</div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-marker"></div>
        <div class="paper-timeline-content">
           <h9> <b>Georgios Vavouliotis</b>, Lluc Alvarez, Daniel A. Jimenez, Marc Casas Guix, <b>Cost-Effective Instruction TLB Prefetching</b>. Second Young Architect Workshop (YArch 2020). In conjunction with The 25th ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS 2020), Lausanne. [<a href="https://www.youtube.com/watch?v=3AfOSBaUiCw&list=PLe9IED-JzOQRA-C2Tr9RQsODmD_2rtCZ3&index=6&t=218s" target="_blank" class="mediaLink" style="color:BC0000"><b>youtube</b></a>] [<a href="https://drive.google.com/file/d/1qsBj8sk8luCBFsu0JZgBY2s-kinhyLng/view" target="_blank" class="mediaLink" style="color:BC0000"><b>poster</b></a>]</h9>
         </div>
     </div>
  </div>
</div>
--!>



