<link rel="stylesheet" href="/css/papers.css">
<div id="papers">
  <h3 class="papersHeader">Publications</h3>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-marker"></div>
        <div class="paper-timeline-content">
	   <h9> <b><u>Georgios Vavouliotis</u></b>, Lluc Alvarez, Vasileios Karakostas, Konstantinos Nikas, Nectarios Kozyris, Daniel A. Jimenez, Marc Casas Guix, <b>Exploiting Page Table Locality for TLB Prefetching</b>. To appear in the 48th International Symposium on Computer Architecture (ISCA 2021). </h9>
         </div>
     </div>
  </div>

  <div class="containerpaperTimeline">
     <div class="paper-timeline-block paper-timeline-block-right">
        <div class="paper-marker"></div>
        <div class="paper-timeline-content">
           <h9> <b><u>Georgios Vavouliotis</u></b>, Lluc Alvarez, Daniel A. Jimenez, Marc Casas Guix, <b>Cost-Effective Instruction TLB Prefetching</b>. Second Young Architect Workshop (YArch 2020). In conjunction with The 25th ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS 2020), Lausanne. [<a href="https://www.youtube.com/watch?v=3AfOSBaUiCw&list=PLe9IED-JzOQRA-C2Tr9RQsODmD_2rtCZ3&index=6&t=218s" target="_blank" class="mediaLink"><b>youtube</b></a>] [<a href="https://drive.google.com/file/d/1qsBj8sk8luCBFsu0JZgBY2s-kinhyLng/view" target="_blank" class="mediaLink"><b>poster</b></a>]</h9>
         </div>
     </div>
  </div>
</div>




