<link rel="stylesheet" href="/css/skills.css">
<div id="skills">
  <h3 class="skillsHeader">Skills</h3>
  <div class="gridRow">
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>C</b></p>
        <img src="/assets/Skills/C.png" alt="C" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>C++</b></p>
        <img src="/assets/Skills/C++.png" alt="C++" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>C#</b></p>
        <img src="/assets/Skills/CSharp.png" alt="C#" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Java</b></p>
        <img src="/assets/Skills/Java.png" alt="Java" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Python</b></p>
        <img src="/assets/Skills/Python.png" alt="Python" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Javascript</b></p>
        <img src="/assets/Skills/Javascript.png" alt="Javascript" style="width:50%" class="skillImage">
      </div>
    </div>
  </div>
  <div class="gridRow">
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Matlab</b></p>
        <img src="/assets/Skills/Matlab.png" alt="Matlab" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>T-SQL</b></p>
        <img src="/assets/Skills/SQL.png" alt="T-SQL" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Git</b></p>
        <img src="/assets/Skills/Git.png" alt="Git" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Linux</b></p>
        <img src="assets/Skills/Linux.png" alt="Linux" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>Android</b></p>
        <img src="/assets/Skills/Android.png" alt="Android" style="width:50%" class="skillImage">
      </div>
    </div>
    <div class="gridColumn">
      <div class="gridContent">
        <p align="center"><b>MS Office</b></p>
        <img src="/assets/Skills/MSOffice.png" alt="MSOffice" style="width:50%" class="skillImage">
      </div>
    </div>
  </div>
</div>
